/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

img {
  max-width: 100%;
}

/* COMMON */
/* Layout */
.container {
  margin: 0 auto;
  max-width: 1000px;
  width: 80%;
}

.btn-layout {
  text-align: center;
}
/* COLONNE */
.col-30 {
  width: 30%;
}

.col-70 {
  width: 70%;
}

.col-space {
  justify-content: space-between;
}

.col-layout {
  /* min-height: 800px; */
  border: 1px solid #ddd;
  border-radius: 3px;
}

/* CARD */
.card-header {
  text-align: center;
  padding: 10px;
  font-size: 0.9rem;
  border-bottom: 1px solid #ddd;
}

.layout-card {
  padding: 30px;
}

.price-card {
  font-size: 0.9rem;
  font-weight: 700;
}

.time-card {
  color: #ddd;
  font-size: 0.9rem;
  padding: 20px 0px 50px 0px;
}

.user-card {
  font-size: 0.9rem;
}

.card-memory {
  padding: 20px 0px 20px 0px;
  font-size: 0.9rem;
  line-height: 20px;
}

.card-sharing {
  font-size: 0.9rem;
  line-height: 20px;
}

.btn-card {
  background-color: #0061fe;
  padding: 12px 40px;
  text-decoration: none;
  color: #ffffff;
  border: none;
  margin-top: 60px;
  margin-bottom: 40px;
}

.card-divider {
  width: 50px;
  margin-top: 40px;
  margin-bottom: 50px;
  border: 0;
  border-top: 1px solid #ccc;
}

.card-highlights {
  margin-top: 25px;
  display: flex;
  align-items: flex-start;
  gap: 10px;
  margin-bottom: 12px;
}

.card-highlights i {
    color: #0061ff;
}

.card-highlights p {
    margin: 0;
    font-size: 14px;
    line-height: 1.4;
}
/* HEADER */
.header {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  /* debug */
  /* border: 1px solid black;
  position: fixed;
  width: 100%; */
}

.left-header,
.right-header {
  display: flex;
  gap: 30px;
  max-width: 50%;
}

.ul-header li {
  align-content: center;
}

.btn-blue {
  background-color: #0061fe;
  padding: 5px 10px;
  text-decoration: none;
  color: #ffffff;
  border: none;
}

.ul-header {
  display: flex;
  list-style: none;
  text-decoration: none;
  gap: 15px;
}

.header a {
  list-style: none;
  text-decoration: none;
  align-content: center;
}

/* MAIN */
.bg-main-blue {
  background-color: #b4d0e6;
}

h1 {
  font-size: 3rem;
  font-weight: 900;
  line-height: 60px;
  padding-top: 80px;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
  margin-top: 150px;
  margin-left: 160px;
}

h3 {
  margin-bottom: 25px;
}

.btn-blue-main {
  background-color: #0061fe;
  padding: 8px 10px;
  text-decoration: none;
  color: #ffffff;
  margin-top: 30px;
  border: none;
}

.paragraph {
  margin-top: 70px;
}

.flex-container {
  display: flex;
  align-content: center;
  margin-top: 50px;
  align-items: stretch;
}

.img-jumbo {
  position: relative;
  top: 70px;
}

.entities-tag {
  display: block;
  margin-top: 100px;
  font-size: 2rem;
}

.circle-button {
  display: flex;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 160px;
  gap: 20px;
}
