/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

img {
  max-width: 100%;
}

/* COMMON */
/* Layout */
.container {
  margin: 0 auto;
  max-width: 1000px;
  width: 80%;
}

.btn-layout {
  text-align: center;
}

/* UTILITIES */

.py-40{
  margin-top: 40px;
}

.mr-25 {
  margin-right: 25px;
}

/* COLONNE */
.col-30 {
  width: 30%;
}

.col-70 {
  width: 70%;
}

.col-orizz {
  width: 100%;
  margin-bottom: 100px;
  margin-top: 100px;
}

.col-space {
  justify-content: space-between;
}

.col-layout {
  border: 1px solid #ddd;
  border-radius: 3px;
}

.footer-column {
  display: flex;
  flex-direction: column;
}

.footer-column h4 {
  margin-bottom: 15px;
  font-weight: bold;
}

.footer-column a {
  color: #ffffff;
  text-decoration: none;
  margin-bottom: 8px;
  font-size: 0.9rem;
}

/* CARD */
.card-header {
  text-align: center;
  padding: 10px;
  font-size: 0.9rem;
  border-bottom: 1px solid #ddd;
}

.layout-card {
  padding: 30px;
}

.card-plan {
  margin-bottom: 25px;
}

.price-card {
  font-size: 0.9rem;
  font-weight: 700;
}

.time-card {
  color: #ddd;
  font-size: 0.9rem;
  padding: 20px 0px 50px 0px;
}

.user-card {
  font-size: 0.9rem;
}

.card-memory {
  padding: 20px 0px 20px 0px;
  font-size: 0.9rem;
  line-height: 20px;
}

.card-sharing {
  font-size: 0.9rem;
  line-height: 20px;
}

.btn-card {
  background-color: #0061fe;
  padding: 12px 40px;
  text-decoration: none;
  color: #ffffff;
  border: none;
  margin-top: 60px;
  margin-bottom: 40px;
}

.btn-card-2 {
  background-color: #0061fe;
  padding: 12px 40px;
  text-decoration: none;
  color: #ffffff;
  border: none;
  margin-bottom: 40px;
}

.card-divider {
  width: 50px;
  margin-top: 40px;
  margin-bottom: 50px;
  border: 0;
  border-top: 1px solid #ccc;
}

.card-highlights {
  margin-top: 25px;
  display: flex;
  gap: 10px;
  margin-bottom: 12px;
}

.card-highlights-2 {
  display: flex;
  gap: 10px;
}

.card-highlights i {
  color: #0061ff;
}

.card-highlights p {
  margin: 0;
  font-size: 14px;
  line-height: 1.4;
}

.card-enterprise {
  text-align: start;
  padding: 0px 30px 30px 30px;
  justify-content: space-between;
}

.card-enterprise h3 {
  font-size: 1.5rem;
  margin-bottom: 40px;
}
/* HEADER */
.header {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  max-width: 100%;
  background-color: #ffffff;
  z-index: 999;
}

.header a:hover {
  border-bottom: 1px solid black;
}

.left-header,
.right-header {
  display: flex;
  gap: 30px;
}

.ul-header li {
  align-content: center;
}

.btn-blue {
  background-color: #0061fe;
  padding: 7px 14px;
  text-decoration: none;
  color: #ffffff;
  border: none;
}

.ul-header {
  display: flex;
  list-style: none;
  text-decoration: none;
  gap: 15px;
}

.header a {
  list-style: none;
  text-decoration: none;
  align-content: center;
}

/* MAIN */
.bg-main-blue {
  background-color: #b4d0e6;
}

h1 {
  font-size: 3.6rem;
  font-weight: 900;
  line-height: 60px;
  padding-top: 150px;
}

.business-plan {
  font-size: 2rem;
  font-weight: 700;
  margin-top: 180px;
}

.btn-blue-main {
  background-color: #0061fe;
  padding: 8px 10px;
  text-decoration: none;
  color: #ffffff;
  margin-top: 30px;
  border: none;
}

.paragraph {
  margin-top: 70px;
}

.flex-container {
  display: flex;
  align-content: center;
  margin-top: 50px;
  align-items: stretch;
  flex-wrap: wrap;
}

.flex-container-2 {
  display: flex;
  align-content: center;
  margin-top: 50px;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 30px;
}

.img-jumbo {
  position: relative;
  top: 70px;
}

.entities-tag {
  display: block;
  margin-top: 100px;
  font-size: 2rem;
}

.partner {
  width: 650px;
}

.btn-white {
  margin-top: 40px;
  padding: 8px 10px;
}

.dropbox-business {
  text-align: center;
  margin-top: 150px;
  margin-bottom: 70px;
}

.paragraph-tools {
  margin-top: 30px;
}

#final-link {
  margin-top: 100px;
  margin-bottom: 150px;
}

/* FOOTER */

.bg-footer {
  background-color: black;
}

.footer {
  display: flex;
  justify-content: center;
  padding: 80px 0px 50px 0px;
  gap: 150px;
}

.title-footer {
  color: white;
  font-size: 1.3rem;
}
